/*#2563eb*/

:root {
	--navigationMobile-header: 10px;
}

.NavigationMobile-container {
	// position: fixed;
	width: 100%;
	z-index: 9999;
	height: 50px;
	background-color: #1e3c8f;
	color: #fff;

	display: flex;
	align-items: center;

	@media (min-width: 1024px) {
		display: none;
	}
}

.NavigationMobile-container>a {
	position: absolute;
	left: 20px;
}

.NavigationMobile-container svg {
	position: absolute;
	right: 20px;
}

.NavigationMobile-subContainer {
	background-color: #1e3c8f;
	position: absolute;
	top: 0;
	width: 100%;
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.NavigationMobile-subContainer {
	padding-top: 20px;
}

.NavigationMobile-links {
	font-size: 1.5em;
	margin-top: 30px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	height: 35%;
}