button {
   border: none;
   background-color: #1e3c8f;
   color: #fff;
   margin-left: 10px;
   height: 25px;
   box-shadow: -2px 3px 3px 1px rgb(139, 139, 139);

   border-radius: 3px;
   -webkit-border-radius: 3px;
   -moz-border-radius: 3px;
   -ms-border-radius: 3px;
   -o-border-radius: 3px;
}

@media (min-width: 768px) {
   .asset-container {
      display: grid;
      grid-template-columns: repeat(2, 50%);
      padding-top: 8%;
   }
}

.Asset-healthInfo--container {
   display: none;
}

@media (min-width: 768px) {
   .Asset-healthInfo--container {
      margin-left: 5%;
      margin-right: 10%;
      height: 45vh;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
      background-color: #fff;
      box-shadow: -3px 4px 10px 1px #aaa;

      border-radius: 5px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -ms-border-radius: 5px;
      -o-border-radius: 5px;
   }
}

@media (min-width: 1366px) {
   .Asset-healthInfo--container {
      flex-direction: row;
   }
}