.UnitsList-container {
    background-color: transparent; /*PROVISÓRIO PARA LINKAR O ARQUIVO */
}

.UnitsList-container table {
    border: 1px solid #ccc;
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
    margin-top: 10px;
}

.UnitsList-container table caption {
    font-size: 1.5em;
    margin: .5em 0 .75em;
}
  
.UnitsList-container table tr {
    background-color: #f8f8f8;
    border: 1px solid #ddd;
}
  
.UnitsList-container table th,
.UnitsList-container table td {
    padding: .625em;
    text-align: center;
}
  
.UnitsList-container table th {
    font-size: .85em;
    letter-spacing: .1em;
    text-transform: uppercase;
}

.UnitsList-container table th:first-of-type {
    width: 30%;
}

.UnitsList-container table th:last-of-type {
    width: 70%;
}

.UnitsList-container td {
    padding-top: 10px;
    padding-bottom: 10px;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.UnitsList-container td svg {
    font-size: 1.5em!important;
}