.Footer-container {
	height: 50px;
	width: 100%;
	background-color: #292946;
	color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;

	@media(min-width: 1024px) {
		display: none;
	}

	a {
		font-weight: bold;
	}
}