.assetImg-container {
   max-height: 45vh;
   overflow: hidden;
}

@media (min-width: 768px) {
   .assetImg-container {
      border-radius: 5px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -ms-border-radius: 5px;
      -o-border-radius: 5px;
   }
}

.assetImg-container>img {
   max-width: 100%;
}

@media (min-width: 768px) {
   .assetImg-container>img {
      margin-left: 10%;
      box-shadow: -3px 4px 10px 1px #aaa;

      border-radius: 5px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -ms-border-radius: 5px;
      -o-border-radius: 5px;
   }
}