.Asset-mainIcons {
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-top: -19%;
   width: 90%;
   margin-left: 5%;
}

@media (min-width: 768px) {
   .Asset-mainIcons {
      display: none;
   }
}

.Health-notation {
   width: fit-content;
}

.Health-notation--circle {
   position: relative;
   width: 90px;
   height: 90px;
   border: 6px solid;
   background-color: rgba(204, 204, 204, 0.74);

   border-radius: 50%;
   -webkit-border-radius: 50%;
   -moz-border-radius: 50%;
   -ms-border-radius: 50%;
   -o-border-radius: 50%;
}

@media (min-width: 768px) {
   .Health-notation {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      height: 40%;
   }

   .Health-notation>h2 {
      color: rgb(105, 103, 103);
   }

   .Health-notation--circle {
      margin-top: -30%;
      background-color: transparent;
   }

   .Health-notation svg {
      transform: translate(-100%, -25%);
      -webkit-transform: translate(-100%, -25%);
      -moz-transform: translate(-100%, -25%);
      -ms-transform: translate(-100%, -25%);
      -o-transform: translate(-100%, -25%);
   }
}

@media (min-width: 1366px) {
   .Health-notation {
      height: 70%;
   }
}

.Health-notation--circle>p {
   position: absolute;
   left: 50%;
   bottom: 50%;
   font-weight: bold;
   font-size: 1.5em;

   transform: translate(-50%, 50%);
   -webkit-transform: translate(-50%, 50%);
   -moz-transform: translate(-50%, 50%);
   -ms-transform: translate(-50%, 50%);
   -o-transform: translate(-50%, 50%);
}

.Health-notation svg {
   transform: translate(-25%, -60%);
   -webkit-transform: translate(-25%, -60%);
   -moz-transform: translate(-25%, -60%);
   -ms-transform: translate(-25%, -60%);
   -o-transform: translate(-25%, -60%);
}

@media (min-width: 768px) {
   .Health-notation svg {
      transform: translate(-100%, -25%);
      -webkit-transform: translate(-100%, -25%);
      -moz-transform: translate(-100%, -25%);
      -ms-transform: translate(-100%, -25%);
      -o-transform: translate(-100%, -25%);
   }
}

.Health-notation--circle>p {
   position: absolute;
   left: 50%;
   bottom: 50%;
   font-weight: bold;
   font-size: 1.5em;

   transform: translate(-50%, 50%);
   -webkit-transform: translate(-50%, 50%);
   -moz-transform: translate(-50%, 50%);
   -ms-transform: translate(-50%, 50%);
   -o-transform: translate(-50%, 50%);
}

@media (min-width: 768px) {
   .Health-notation {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      height: 40%;
   }

   .Health-notation>h2 {
      color: rgb(105, 103, 103);
   }

   .Health-notation--circle {
      margin-top: -30%;
      background-color: transparent;
   }

   .Health-notation svg {
      transform: translate(-100%, -25%);
      -webkit-transform: translate(-100%, -25%);
      -moz-transform: translate(-100%, -25%);
      -ms-transform: translate(-100%, -25%);
      -o-transform: translate(-100%, -25%);
   }
}

.Status-notation {
   transform: translateY(20%);
   -webkit-transform: translateY(20%);
   -moz-transform: translateY(20%);
   -ms-transform: translateY(20%);
   -o-transform: translateY(20%);
}

@media (min-width: 768px) {
   .Status-notation {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 30%;
      width: fit-content;

      transform: translateY(-10%);
      -webkit-transform: translateY(-10%);
      -moz-transform: translateY(-10%);
      -ms-transform: translateY(-10%);
      -o-transform: translateY(-10%);
   }

   .Status-notation h2 {
      text-align: center;
   }

   .Status-notation>div {
      display: flex;
      align-items: center;
      justify-content: space-around;
   }
}

@media (min-width: 1366px) {
   .Status-notation {
      height: 57%;
   }
}

.Status-notation>svg {
   transform: translateY(-40%);
   -webkit-transform: translateY(-40%);
   -moz-transform: translateY(-40%);
   -ms-transform: translateY(-40%);
   -o-transform: translateY(-40%);
}

@media (min-width: 768px) {
   .Status-notation>svg {
      transform: none;
      -webkit-transform: none;
      -moz-transform: none;
      -ms-transform: none;
      -o-transform: none;
   }
}

.Asset-HealthScore {
   margin-top: -50%;

   transform: translateX(-20%);
   -webkit-transform: translateX(-20%);
   -moz-transform: translateX(-20%);
   -ms-transform: translateX(-20%);
   -o-transform: translateX(-20%);
}