.Main-wrapper {
   display: flex;
   flex-direction: column;
   align-items: stretch;
   min-height: 100vh;
   main {
      flex: 1;
      background-color: #171932;
      padding-bottom: 20px;
      @media (min-width: 1024px) {
         padding-bottom: unset;
         width: 75%;
         margin-left: 25%;
      }
   }
}