.AssetDetails-container {
   :global(.AssetupTime_Asset-uptime__3IADS), 
   :global(.AssetDetails_Asset-details-wrapper__1w7Iu),
   :global(.TechnicalSpecification_Asset-specification-wrapper__23eGG) {
      background-color: rgba(255, 255, 255, 0.26);
      box-shadow: 4px 5px 9px -2px rgb(0 0 0 / 46%);
      color: #fff;
   }
   @media (min-width: 768px) {
      margin-top: 20px;
      grid-column: 1 / -1
   }   
   & > h2 {
      color: #fff;
   }
}

.AssetDetails-container h2,
h3 {
   text-align: center;
   margin-top: 10px;
   margin-bottom: 10px;
}

.AssetDetails-container span {
   font-weight: bold;
}

.AssetDetails-container>div {
   width: 90%;
   margin-left: 4%;
   padding: 1%;
   background-color: #fff;
   margin-bottom: 10px;
   box-shadow: -3px 4px 10px 1px #aaa;

   border-radius: 5px;
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   -ms-border-radius: 5px;
   -o-border-radius: 5px;
}

.AssetDetails-container>div div {
   display: flex;
   align-items: center;
   margin-bottom: 10px;
}

.AssetDetails-container>div div svg {
   width: 1.25em !important;
}

.AssetDetails-container>div div>p {
   margin-left: 10px;
}